In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import os
import pandas as pd
import lxml.html as LH
import time

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

news_title = soup.find('div', class_='content_title').text

news_p = soup.find('div', class_="article_teaser_body").text

In [5]:
print(news_title)

After a Reset, Curiosity Is Operating Normally

In [6]:
# news_p=news_p.text
print(news_p)

Curiosity has returned to science operations and is once again exploring the clay unit.

In [7]:
url_jpl = 'https://www.jpl.nasa.gov'
url_pic = url_jpl+'/spaceimages/?search=&category=Mars'
browser.visit(url_pic)

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
test = soup.find_all('a', class_="fancybox")

In [10]:
image = test[1].get('data-fancybox-href')

In [11]:
featured_image_url = url_jpl + image

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23054_hires.jpg

In [12]:
# for link in soup.find_all('a', class_="fancybox"):
#     print(link.get('data-fancybox-href'))

In [13]:
url_tweet = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_tweet)

In [14]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [15]:
#tweets = [p.text for p in soup.find_al('p', class="tweet-text")]

In [16]:
tweets = soup.find_all('p', class_="tweet-text")

In [17]:
mars_weather = tweets[0].text

In [18]:
facts_url = "https://space-facts.com/mars/"

In [19]:
facts_df = pd.read_html(facts_url, header=None, index_col=None)

In [20]:
facts_df=facts_df[0]

In [21]:
facts_df.columns=['Fact','Data']

In [35]:
table = facts_df.to_html()

In [36]:
table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 Â°C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [24]:
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [25]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
mars_hemis =[]

In [26]:
for x in range (4):
    time.sleep(5)
    title = browser.find_by_tag('h3')
    title[x].click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    link = soup.find("img", class_="wide-image")["src"]
    hem_title= soup.find('h2', class_="title").text
    mars_hemis.append({"img_url":"https://astrogeology.usgs.gov"+link, "title":hem_title})
    browser.back()

In [27]:
mars_hemis

[{'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [37]:
mars_dict = {
    'hemis_pics':mars_hemis,
    'table': table,
    'weather':mars_weather,
    'feature_pic':featured_image_url,
    'title':news_title,
    'paragraph':news_p
}

In [38]:
mars_dict

{'hemis_pics': [{'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}],
 'table': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 Â°C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'weather': 'InSight sol 92 (2019-03-01) low -94.4ÂºC (-137.9ÂºF) high -12.9ÂºC (8.8ÂºF)\nwinds from the SW at 4.6 m/s (10.2 mph) gusting to 10.4 m/s (23.2 mph)\npressure at 7.20 hPapic.twitter.com/zxXhRFOwTo',
 'feature_pic': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23054_hires.jpg',
 'title': 'After a Reset, Curiosity Is Operating Normally',
 'paragraph': 'Curiosity has returned to science operations and is once again exploring the clay unit. '}